.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 1px;
}

body {
  background-color: rgba(0, 0, 0, 0.111);
}

.wrapper {
  padding: 15px 50px 30px;
  background-color: white;
}

.countryInfo img {
  width: 400px;
}

.info {
  display: flex;
  width: 800px;
  margin-top: 1rem;
}

.userIP-address {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}