.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgba(211, 211, 211, 0.436);
}

.wrapper {
  padding: 15px 50px 30px;
  background-color: white;
}

.countryInfo img {
  width: 400px;
}

.countryInfo h2,
.countryInfo p {
  display: flex;
  justify-content: center;
}
